.nav-link {
	font-size: 16px;
}

.nav-link:hover {
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.25);
}

.card-body {
	padding-top: 4px;
	padding-bottom: 4px;
}

.bg-turquesa {
	background-color: #01cdb2;
	color: white;
}

.text-vinotinto {
	color: #8b0600;
}

hr {
	padding-top: 1px;
	padding-bottom: 1px;
}
.modal-body-wrapper {
	overflow-y: scroll;
	height: 60vh;
  }
  body {
	background: rgb(212, 243, 224);
  }
  .sinborde {
	border: 0;
  }

  .my-button {
    background-image: linear-gradient(135deg, rgb(196, 74, 74) 0%, rgb(135, 42, 48) 100%);
	border: 0;
    color: white;
    padding: 15px;
    border-radius: 20px;
    transition: 0.4s ease;
  } 

  .my-button2 {
    background-image: linear-gradient(135deg, rgb(227, 144, 137) 0%, rgb(196, 74, 74) 100%);
	border: 0;
    color: white;
    padding: 15px;
    border-radius: 20px;
    transition: 0.4s ease;
  } 
  .my-button3 {
    background-image: linear-gradient(135deg, rgb(196, 74, 74) 0%, rgb(135, 42, 48) 100%);
	  border: 0;
    color: white;
    width: 350px; /* ajusta el ancho según sea necesario */
    height: 40px; /* ajusta el alto según sea necesario */
    /*font-size: 16px;  ajusta el tamaño de la fuente según sea necesario */
    padding: 10px; /* ajusta el padding según sea necesario */
    border-radius: 20px;
    transition: 0.4s ease;
  }
  .my-button4 {
    background-image: linear-gradient(135deg, rgb(196, 74, 74) 0%, rgb(135, 42, 48) 100%);
	  border: 0;
    color: white;
    width: 280px; /* ajusta el ancho según sea necesario */
    height: 40px; /* ajusta el alto según sea necesario */
    /*font-size: 16px;  ajusta el tamaño de la fuente según sea necesario */
    padding: 10px; /* ajusta el padding según sea necesario */
    border-radius: 20px;
    transition: 0.4s ease;
  }
  .my-button5 {
    background-image: linear-gradient(135deg, rgb(196, 74, 74) 0%, rgb(135, 42, 48) 100%);
	  border: 0;
    color: white;
    width: 210px; /* ajusta el ancho según sea necesario */
    height: 40px; /* ajusta el alto según sea necesario */
    /*font-size: 16px;  ajusta el tamaño de la fuente según sea necesario */
    padding: 10px; /* ajusta el padding según sea necesario */
    border-radius: 20px;
    transition: 0.4s ease;
  }
  .password-toggle {
    cursor: pointer;
    transition: all 0.3s ease;
}

.password-toggle i {
    font-size: 1rem;
}

.password-toggle i:focus {
    outline: none;
    box-shadow: none;
}

.password-toggle.collapsed i {
    color: #777;
}

.password-toggle i.fa-eye {
    display: none;
}

.password-toggle i.fa-eye-slash {
    display: inline-block;
}

.password-toggle.collapsed i.fa-eye-slash {
    display: none;
}

.password-toggle.collapsed i.fa-eye {
    display: inline-block;
}
 

.header-container {
  text-align: center;
  margin-top: 3rem;
}

.title {
  font-family: 'Open Sans', sans-serif; /* choose a font family */
  font-size: 2.5rem;
  font-weight: bold;
  color: darkred;
}

.title i {
  margin-right: 0.5rem;
  color: inherit; /* inherit the color from the parent element */
}
.pagination a {
  margin: 0 1px;
  padding: 8px 8px;
  background-color: #01cdb2;
  color: rgb(13, 13, 13);
  text-decoration: none;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #007bff;
  /* Color diferente para la página activa */
}

.pagination a:hover {
  background-color: #0056b3;
  /* Color al pasar el mouse */
}

.title1 {
  font-size: 2rem;
  color: #868585;
}